*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #927df1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.top{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}
.icon{
    font-size: 150px;
    cursor: pointer;
}
.frame{
    width: 800px;
    height: 500px;
    overflow: hidden;
}
.slider{
    display: flex;
    transition: all 1s ease;
}
.image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.bottom{
    display: flex;
    gap: 30px;
}
.button{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid black;
}